<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <configSections>
            <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                  <section name="Notification.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            </sectionGroup>
      </configSections>
      <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
 <userSettings>
  <Notification.My.MySettings>
   <setting name="UserName" serializeAs="String">
    <value/>
   </setting>
   <setting name="Password" serializeAs="String">
    <value/>
   </setting>
   <setting name="WebServer" serializeAs="String">
    <value/>
   </setting>
   <setting name="Sound" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DaysBeforeToAlert" serializeAs="String">
    <value>-20</value>
   </setting>
   <setting name="ColorScheme" serializeAs="String">
    <value/>
   </setting>
   <setting name="AlertTimeout" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="DaysSinceAlert" serializeAs="String">
    <value />
   </setting>
  </Notification.My.MySettings>
 </userSettings>
</configuration>
